body {
	margin: 0;
}

#root {
	display: grid;
	grid-template-rows: auto 1fr;
	max-height: 100vh;
}

.container {
	width: clamp(360px, 60vw, 1400px);
	padding-right: 0.75em;
	padding-left: 0.75em;
	margin-right: auto;
	margin-left: auto;
}

.p-tabview-nav {
	justify-content: center;
}

.p-tabview-nav .p-unselectable-text {
	flex: 1 1 0%;
}

.p-tabview-nav .p-unselectable-text a {
	display: flex;
	justify-content: center;
	gap: 1em;
}
